APP_NAME=simple-crud-backend
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8001

DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres
DB_PARAMS=sslmode=disable

AUTO_MIGRATE=false

CORS_ALLOW_ORIGIN=*
CORS_HEADERS=Origin, Content-Type, Accept, Authorization

SECRET_KEY=your_secret_key_here